<a href="https://colab.research.google.com/github/carrkarr/python_ini/blob/main/python_8_EstructuraDeDatos_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Estructuras de Datos en Python***

En pytho tenemos las estructuras

***Primitivas***

  Integer

  Float

  String

  Boolean

Que ya hemos visto.

Ahora nos centraremos en las 

***NO  Primitivas***

    Listas - List
    Tuplas - Tuples
    Diccionarios - Dictionaries
    Comjunto    - Set
    Archivo -File

Una estructura de datos es la forma de trabajar con un gran volumen de datos de una manera eficiente.

**¿Qué es List?**

Las listas permiten almacenar objetos mediante un orden definido y con posibilidad de duplicados. Las listas son estructuras de datos mutables, lo que significa que podemos añadir, eliminar o modificar sus elementos. 

Una lista es un contenedor de Python **ordenado y mutable** , que es una de las estructuras de datos más comunes en Python. Para crear una lista, los elementos se colocan entre corchetes, separados por comas. Ya hemos visto un poco de ello en temas anteriores.

In [7]:
# list is an ordered and mutable Python container
# the elements are placed inside square brackets,separated by commas

empty_list = []
print(empty_list)

lista = [1,2,3,4,5,6]
print(lista)

lista = [1,'C','B',1,5,6]
print(lista)

# La lista puede contener otra lista o tupla u otro tipo de estructura
lista = [1,'C',['B',1,5],6]
print(lista)

[]
[1, 2, 3, 4, 5, 6]
[1, 'C', 'B', 1, 5, 6]
[1, 'C', ['B', 1, 5], 6]

In [8]:
# Conversión
# Para convertir otros tipos de datos en una lista podemos usar la función list():
lista = list ('Python')
print(lista)

['P', 'y', 't', 'h', 'o', 'n']

In [12]:
# Obtener un elemento de una lista

'''
Igual que en el caso de las cadenas de texto, 
podemos obtener un elemento de una lista 
a través del índice (lugar) que ocupa. 
Veamos un ejemplo:
'''
estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS']

print (estados[0])
print (estados[2])

print (estados[-2])
print (estados[-1])

# Descomente para ver el error
# Marca error por que el índice = 4 no esta en la lista

#print (estados[4])

CDMX
SAN LUIS POTOSÍ
SAN LUIS POTOSÍ
TAMAULIPAS

In [26]:
# Tomar parte de  una lista
# Sublista de una lista
# Funciona de manera totalmente análoga al troceado (Tomar parte) de cadenas. 
# Veamos algunos ejemplos:

estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS','TABASCO','CHIAPAS']

# Obsrva como  excluye la posición indice = 3
print (estados[0:3])
print (estados[:3])

print (estados[2:4])

# Toma una sublista e invierte el orden
print (estados[-1:-4:-1])

# Toda la lista
print (estados[:])
print (estados[::])

# Invierte toda la lista
print (estados[::-1])

['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ']
['SAN LUIS POTOSÍ', 'TAMAULIPAS']
['CHIAPAS', 'TABASCO', 'TAMAULIPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CHIAPAS', 'TABASCO', 'TAMAULIPAS', 'SAN LUIS POTOSÍ', 'HIDALGO', 'CDMX']

In [34]:
estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS','TABASCO','CHIAPAS']

# Observa el comportamiento

print (estados[::])
# Toma toda la lista uno por uno, por eso da toda la lista
print (estados[::1])
# Toma la lista de dos en dos. a partir del cero salta dos y lo toma, asi sucesivamente
print (estados[::2])
# Toma la lista de dos en dos. a partir del cero salta tres y lo toma, asi sucesivamente
print (estados[::3])

print (estados[::4])
print (estados[::5])

['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'SAN LUIS POTOSÍ', 'TABASCO']
['CDMX', 'TAMAULIPAS']
['CDMX', 'TABASCO']
['CDMX', 'CHIAPAS']

In [38]:
# Con este ejmplo tal vez qude más claro el ejemplo anterior
numeros = [1,2,3,4,5,6]

# Observa el comportamiento

print (numeros[::])
# Toma toda la lista uno por uno, por eso da toda la lista
print (numeros[::1])
# Toma la lista de dos en dos. a partir del cero salta dos y lo toma, asi sucesivamente
print (numeros[::2])
# Toma la lista de dos en dos. a partir del cero salta tres y lo toma, asi sucesivamente
print (numeros[::3])

print (numeros[::4])
print (numeros[::5])

# Se sale del rango , pero no marca error, simplemente no nos da un valor final, sólo el inicial
print (numeros[::6])
# Se sale del rango , pero no marca error, simplemente no nos da un valor final, sólo el inicial
print (numeros[::7])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
[1, 4]
[1, 5]
[1, 6]
[1]
[1]

NOTA:
En el troceado (obtener una sublista de una lista )  de listas, a diferencia de lo que ocurre al obtener elementos, no debemos preocuparnos por acceder a índices inválidos (fuera de rango) ya que Python los restringirá a los límites de la lista.

Ninguna de las operaciones anteriores modifican la lista original, simplemente devuelven una lista nueva.

***Invertir una lista***

Python nos ofrece, al menos, tres mecanismos para invertir los elementos de una lista:

***Conservando la lista original:***

    Mediante troceado(Sublista de la lista) de listas con step negativo, como lo hemos ya hecho:

In [50]:
estados = ['CDMX','HIDALGO', 3, 4,'TABASCO','CHIAPAS']
numeros = [1,2,3,4,5,6]

# Despleagmos antes de ser manipulados
print (estados)
print (numeros)

# Invierte toda la lista
print (estados[::-1])

# Invierte toda la lista
print (numeros[::-1])

# Despleagmos  despues de ser manipulados y vemos que no cambio
print (estados)
print (numeros)

['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
[1, 2, 3, 4, 5, 6]
['CHIAPAS', 'TABASCO', 4, 3, 'HIDALGO', 'CDMX']
[6, 5, 4, 3, 2, 1]
['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
[1, 2, 3, 4, 5, 6]

***Conservando la lista original:***

    Mediante la función reversed():

In [49]:

estados = ['CDMX','HIDALGO', 3, 4,'TABASCO','CHIAPAS']
print (estados)
print (list(reversed(estados)))
# Vemos que no cambio
print (estados)

['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
['CHIAPAS', 'TABASCO', 4, 3, 'HIDALGO', 'CDMX']
['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']

***Modificando la lista original:***

    Utilizando la función reverse() (nótese que es sin «d» al final):

In [51]:

estados = ['CDMX','HIDALGO', 3, 4,'TABASCO','CHIAPAS']
print (estados)

estados.reverse()

# Vemos que la lista SI cambio
print (estados)

['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
['CHIAPAS', 'TABASCO', 4, 3, 'HIDALGO', 'CDMX']

***Añadir al final de la lista***
Python nos ofrece la función append() para añadir al final d ela lista. Se trata de un método destructivo que modifica la lista original:

In [53]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

los_ranchos.append('LA ESCONDIDA')

# Vemos que la lista SI cambio
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIA', 'EL HIGUERON', 'PALMITAS', 'LA ESCONDIDA']

***Creando una lista desde vacío***

Una forma muy habitual de trabajar con listas es empezar con una vacía e ir añadiendo elementos poco a poco. Se podría hablar de un patrón creación.

Supongamos un ejemplo en el que queremos construir una lista con los números pares del 1 al 20:

In [54]:
even_numbers = []

for i in range(20):
    if i % 2 == 0:
        even_numbers.append(i)

print (even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

***Añadir en cualquier posición de una lista***

Ya hemos visto cómo añadir elementos al final de una lista. Sin embargo, Python ofrece una ***función insert()*** que vendría a ser una generalización de la anterior, para incorporar elementos en cualquier posición. Simplemente debemos especificar el índice de inserción y el elemento en cuestión. También se trata de una función destructiva:

In [61]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

los_ranchos.insert(1,'LA ESCONDIDA')
print (los_ranchos)

los_ranchos.insert(3,'SAN RAFAEL')
print (los_ranchos)


los_ranchos.insert(10,'LA ESCONDIDA') # No existe el indice  10, no marca error y lo coloca al final de la lista
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'LA ESCONDIDA', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'LA ESCONDIDA', 'SAN PEDRO', 'SAN RAFAEL', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'LA ESCONDIDA', 'SAN PEDRO', 'SAN RAFAEL', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS', 'LA ESCONDIDA']

In [59]:
# Con este ejmplo tal vez qude más claro el ejemplo anterior
numeros = [1,2,3,4,5,6]

# Observa el comportamiento
numeros.insert(1,33)
print (numeros)

numeros.insert(3,'66')
print (numeros)

numeros.insert(6,'99')
print (numeros)

numeros.insert(13,'110') # No existe el indice  13, no marca error y lo coloca al final de la lista
print (numeros)

[1, 33, 2, 3, 4, 5, 6]
[1, 33, 2, '66', 3, 4, 5, 6]
[1, 33, 2, '66', 3, 4, '99', 5, 6]
[1, 33, 2, '66', 3, 4, '99', 5, 6, '110']

In [60]:

numeros = [1,2,3,4,5,6]

# Observa el comportamiento
numeros.insert(-1,33)
print (numeros)

numeros.insert(-3,'66')
print (numeros)

numeros.insert(-6,'99')
print (numeros)

# Observe
numeros.insert(-13,'110') # No existe el indice  -13, no marca error y lo coloca al inicio de la lista
print (numeros)

[1, 2, 3, 4, 5, 33, 6]
[1, 2, 3, 4, '66', 5, 33, 6]
[1, 2, '99', 3, 4, '66', 5, 33, 6]
['110', 1, 2, '99', 3, 4, '66', 5, 33, 6]

***NOTA: Aunque es posible utilizar insert() para añadir elementos al final de una lista, siempre se recomienda usar append() por su mayor legibilidad:***

***Repetir elementos***

Al igual que con las cadenas de texto, el operador * nos permite repetir los elementos de una lista:

In [69]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']
print (los_ranchos)
print (los_ranchos * 2)
print (los_ranchos)
print (los_ranchos * -1)

['BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'SAN PEDRO', 'EL RAYO']
[]

**Combinar listas**

Python nos ofrece dos aproximaciones para combinar listas:

Conservando la lista original:

    Mediante el operador + o +=:

In [73]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print (numeros + los_ranchos)
print (numeros)
print (los_ranchos)

# Este forma si cammbia la lista de numeros
numeros += los_ranchos
print(numeros)
print (los_ranchos)

[1, 2, 3, 4, 5, 6, 'BUNIGU', 'SAN PEDRO', 'EL RAYO']
[1, 2, 3, 4, 5, 6]
['BUNIGU', 'SAN PEDRO', 'EL RAYO']
[1, 2, 3, 4, 5, 6, 'BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'SAN PEDRO', 'EL RAYO']

Modificando la lista original:

    Mediante la función extend():

In [75]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print(numeros)
numeros.extend(los_ranchos) 

# Observemos como cambio la lista de numeros
print(numeros)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'BUNIGU', 'SAN PEDRO', 'EL RAYO']

***NOTA:***
Hay que tener en cuenta que extend() funciona adecuadamente si pasamos una lista como argumento. En otro caso, quizás los resultados no sean los esperados. Veamos un ejemplo:

In [1]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print(numeros)
# Solo hacemos el extend con un solo elemento y vemos el resultado
numeros.extend('BUNIGU') 

# Observemos como cambio la lista de numeros
print(numeros)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'B', 'U', 'N', 'I', 'G', 'U']

El motivo es que extend() «recorre» (o itera) sobre cada uno de los elementos del objeto en cuestión. En el caso anterior, al ser una cadena de texto, está formada por caracteres. De ahí el resultado que obtenemos.


Se podría pensar en el uso de append() para combinar listas. La realidad es que no funciona exactamente como esperamos; la segunda lista se añadiría como una sublista de la principal:

In [2]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print(numeros)

numeros.append(los_ranchos) 

# Observemos como cambio la lista de numeros
print(numeros)
# Inserta la segunda lista al final como un elemento de la lista numeros, no las une

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, ['BUNIGU', 'SAN PEDRO', 'EL RAYO']]

***Modificar una lista utilizando el ínice.***

Del mismo modo que se accede a un elemento utilizando su índice, también podemos modificarlo:

In [3]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print (los_ranchos)

# Modificamos un elemento

los_ranchos [1] = 'TLACUILOLA' # Si colocamos un numero de índice que no exista en la lista, marcara error, por ejemplo el 3

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'TLACUILOLA', 'EL RAYO']

***Modificar con troceado. (Sublista de la lista)***

No sólo es posible modificar un elemento de cada vez, sino que podemos asignar valores a trozos (sublista) de una lista:

In [7]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

print (los_ranchos[1:4])
los_ranchos[1:4] = ['EL CEDRAL','EL COMEJE','EL NARANJAL']

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['SAN PEDRO', 'EL RAYO', 'LA FLORIDA']
['BUNIGU', 'EL CEDRAL', 'EL COMEJE', 'EL NARANJAL', 'EL HIGUERON', 'PALMITAS']

***Nota***

La lista que asignamos no necesariamente debe tener la misma longitud que el trozo que sustituimos.

In [8]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

print (los_ranchos[1:4]) # Aqui hay 3 elementos

los_ranchos[1:4] = ['EL CEDRAL','EL COMEJE'] # Sólo sustituyo 2 y no marca ; pero el tercero lo quita, mucho ojo

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['SAN PEDRO', 'EL RAYO', 'LA FLORIDA']
['BUNIGU', 'EL CEDRAL', 'EL COMEJE', 'EL HIGUERON', 'PALMITAS']

***Borrar elementos***

Python nos ofrece, al menos, cuatro formas para borrar elementos en una lista:

Por su índice:

    Mediante la función del():

In [11]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)
del(los_ranchos[3]) # Borro LA FLORIDA, si se pone un numero de índice que no exista marcara error
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL HIGUERON', 'PALMITAS']

***Por su valor:***

    Mediante la función remove():

In [15]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)
los_ranchos.remove('LA FLORIDA')   # Borro LA FLORIDA, si se pone un elemento que no exiata en la lista marcara error
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL HIGUERON', 'PALMITAS']