<a href="https://colab.research.google.com/github/carrkarr/python_ini/blob/main/python_8_EstructuraDeDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Estructuras de Datos en Python***

En pytho tenemos las estructuras

Primitivas

  Integer

  Float

  String

  Boolean

Que ya henos visto.

Ahora nos centraremos en las 

NO  Primitivas

    Listas - List
    Tuplas - Tuples
    Diccionarios - Dictionaries
    Comjunto    - Set
    Archivo -File

Una estructura de datos es la forma de trabajar con un gran volumen de datos de una manera eficiente.

**¿Qué es List?**

Las listas permiten almacenar objetos mediante un orden definido y con posibilidad de duplicados. Las listas son estructuras de datos mutables, lo que significa que podemos añadir, eliminar o modificar sus elementos. 

Una lista es un contenedor de Python **ordenado y mutable** , que es una de las estructuras de datos más comunes en Python. Para crear una lista, los elementos se colocan entre corchetes, separados por comas. Ya hemos visto un poco de ello en temas anteriores.

In [7]:
# list is an ordered and mutable Python container
# the elements are placed inside square brackets,separated by commas

empty_list = []
print(empty_list)

lista = [1,2,3,4,5,6]
print(lista)

lista = [1,'C','B',1,5,6]
print(lista)

# La lista puede contener otra lista o tupla u otro tipo de estructura
lista = [1,'C',['B',1,5],6]
print(lista)

[]
[1, 2, 3, 4, 5, 6]
[1, 'C', 'B', 1, 5, 6]
[1, 'C', ['B', 1, 5], 6]

In [8]:
# Conversión
# Para convertir otros tipos de datos en una lista podemos usar la función list():
lista = list ('Python')
print(lista)

['P', 'y', 't', 'h', 'o', 'n']

In [12]:
# Obtener un elemento de una lista

'''
Igual que en el caso de las cadenas de texto, 
podemos obtener un elemento de una lista 
a través del índice (lugar) que ocupa. 
Veamos un ejemplo:
'''
estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS']

print (estados[0])
print (estados[2])

print (estados[-2])
print (estados[-1])

# Descomente para ver el error
# Marca error por que el índice = 4 no esta en la lista

#print (estados[4])

CDMX
SAN LUIS POTOSÍ
SAN LUIS POTOSÍ
TAMAULIPAS

In [26]:
# Tomar parte de  una lista
# Sublista de una lista
# Funciona de manera totalmente análoga al troceado (Tomar parte) de cadenas. 
# Veamos algunos ejemplos:

estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS','TABASCO','CHIAPAS']

# Obsrva como  excluye la posición indice = 3
print (estados[0:3])
print (estados[:3])

print (estados[2:4])

# Toma una sublista e invierte el orden
print (estados[-1:-4:-1])

# Toda la lista
print (estados[:])
print (estados[::])

# Invierte toda la lista
print (estados[::-1])

['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ']
['SAN LUIS POTOSÍ', 'TAMAULIPAS']
['CHIAPAS', 'TABASCO', 'TAMAULIPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CHIAPAS', 'TABASCO', 'TAMAULIPAS', 'SAN LUIS POTOSÍ', 'HIDALGO', 'CDMX']

In [34]:
estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS','TABASCO','CHIAPAS']

# Observa el comportamiento

print (estados[::])
# Toma toda la lista uno por uno, por eso da toda la lista
print (estados[::1])
# Toma la lista de dos en dos. a partir del cero salta dos y lo toma, asi sucesivamente
print (estados[::2])
# Toma la lista de dos en dos. a partir del cero salta tres y lo toma, asi sucesivamente
print (estados[::3])

print (estados[::4])
print (estados[::5])

['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'SAN LUIS POTOSÍ', 'TABASCO']
['CDMX', 'TAMAULIPAS']
['CDMX', 'TABASCO']
['CDMX', 'CHIAPAS']