<a href="https://colab.research.google.com/github/carrkarr/python_ini/blob/main/python_8_EstructuraDeDatos_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Estructuras de Datos en Python***

En pytho tenemos las estructuras

***Primitivas***

  Integer

  Float

  String

  Boolean

Que ya hemos visto.

Ahora nos centraremos en las 

***NO  Primitivas***

    Listas - List
    Tuplas - Tuples
    Diccionarios - Dictionaries
    Comjunto    - Set
    Archivo -File

Una estructura de datos es la forma de trabajar con un gran volumen de datos de una manera eficiente.

**¿Qué es List?**

Las listas permiten almacenar objetos mediante un orden definido y con posibilidad de duplicados. Las listas son estructuras de datos mutables, lo que significa que podemos añadir, eliminar o modificar sus elementos. 

Una lista es un contenedor de Python **ordenado y mutable** , que es una de las estructuras de datos más comunes en Python. Para crear una lista, los elementos se colocan entre corchetes, separados por comas. Ya hemos visto un poco de ello en temas anteriores.

In [ ]:
# list is an ordered and mutable Python container
# the elements are placed inside square brackets,separated by commas

empty_list = []
print(empty_list)

lista = [1,2,3,4,5,6]
print(lista)

lista = [1,'C','B',1,5,6]
print(lista)

# La lista puede contener otra lista o tupla u otro tipo de estructura
lista = [1,'C',['B',1,5],6]
print(lista)

[]
[1, 2, 3, 4, 5, 6]
[1, 'C', 'B', 1, 5, 6]
[1, 'C', ['B', 1, 5], 6]

In [ ]:
# Conversión
# Para convertir otros tipos de datos en una lista podemos usar la función list():
lista = list ('Python')
print(lista)

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
# Obtener un elemento de una lista

'''
Igual que en el caso de las cadenas de texto, 
podemos obtener un elemento de una lista 
a través del índice (lugar) que ocupa. 
Veamos un ejemplo:
'''
estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS']

print (estados[0])
print (estados[2])

print (estados[-2])
print (estados[-1])

# Descomente para ver el error
# Marca error por que el índice = 4 no esta en la lista

#print (estados[4])

CDMX
SAN LUIS POTOSÍ
SAN LUIS POTOSÍ
TAMAULIPAS

In [ ]:
# Tomar parte de  una lista
# Sublista de una lista
# Funciona de manera totalmente análoga al troceado (Tomar parte) de cadenas. 
# Veamos algunos ejemplos:

estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS','TABASCO','CHIAPAS']

# Obsrva como  excluye la posición indice = 3
print (estados[0:3])
print (estados[:3])

print (estados[2:4])

# Toma una sublista e invierte el orden
print (estados[-1:-4:-1])

# Toda la lista
print (estados[:])
print (estados[::])

# Invierte toda la lista
print (estados[::-1])

['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ']
['SAN LUIS POTOSÍ', 'TAMAULIPAS']
['CHIAPAS', 'TABASCO', 'TAMAULIPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CHIAPAS', 'TABASCO', 'TAMAULIPAS', 'SAN LUIS POTOSÍ', 'HIDALGO', 'CDMX']

In [ ]:
estados = ['CDMX','HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS','TABASCO','CHIAPAS']

# Observa el comportamiento

print (estados[::])
# Toma toda la lista uno por uno, por eso da toda la lista
print (estados[::1])
# Toma la lista de dos en dos. a partir del cero salta dos y lo toma, asi sucesivamente
print (estados[::2])
# Toma la lista de dos en dos. a partir del cero salta tres y lo toma, asi sucesivamente
print (estados[::3])

print (estados[::4])
print (estados[::5])

['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'HIDALGO', 'SAN LUIS POTOSÍ', 'TAMAULIPAS', 'TABASCO', 'CHIAPAS']
['CDMX', 'SAN LUIS POTOSÍ', 'TABASCO']
['CDMX', 'TAMAULIPAS']
['CDMX', 'TABASCO']
['CDMX', 'CHIAPAS']

In [ ]:
# Con este ejmplo tal vez qude más claro el ejemplo anterior
numeros = [1,2,3,4,5,6]

# Observa el comportamiento

print (numeros[::])
# Toma toda la lista uno por uno, por eso da toda la lista
print (numeros[::1])
# Toma la lista de dos en dos. a partir del cero salta dos y lo toma, asi sucesivamente
print (numeros[::2])
# Toma la lista de dos en dos. a partir del cero salta tres y lo toma, asi sucesivamente
print (numeros[::3])

print (numeros[::4])
print (numeros[::5])

# Se sale del rango , pero no marca error, simplemente no nos da un valor final, sólo el inicial
print (numeros[::6])
# Se sale del rango , pero no marca error, simplemente no nos da un valor final, sólo el inicial
print (numeros[::7])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
[1, 4]
[1, 5]
[1, 6]
[1]
[1]

NOTA:
En el troceado (obtener una sublista de una lista )  de listas, a diferencia de lo que ocurre al obtener elementos, no debemos preocuparnos por acceder a índices inválidos (fuera de rango) ya que Python los restringirá a los límites de la lista.

Ninguna de las operaciones anteriores modifican la lista original, simplemente devuelven una lista nueva.

***Invertir una lista***

Python nos ofrece, al menos, tres mecanismos para invertir los elementos de una lista:

***Conservando la lista original:***

    Mediante troceado(Sublista de la lista) de listas con step negativo, como lo hemos ya hecho:

In [ ]:
estados = ['CDMX','HIDALGO', 3, 4,'TABASCO','CHIAPAS']
numeros = [1,2,3,4,5,6]

# Despleagmos antes de ser manipulados
print (estados)
print (numeros)

# Invierte toda la lista
print (estados[::-1])

# Invierte toda la lista
print (numeros[::-1])

# Despleagmos  despues de ser manipulados y vemos que no cambio
print (estados)
print (numeros)

['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
[1, 2, 3, 4, 5, 6]
['CHIAPAS', 'TABASCO', 4, 3, 'HIDALGO', 'CDMX']
[6, 5, 4, 3, 2, 1]
['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
[1, 2, 3, 4, 5, 6]

***Conservando la lista original:***

    Mediante la función reversed():

In [ ]:

estados = ['CDMX','HIDALGO', 3, 4,'TABASCO','CHIAPAS']
print (estados)
print (list(reversed(estados)))
# Vemos que no cambio
print (estados)

['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
['CHIAPAS', 'TABASCO', 4, 3, 'HIDALGO', 'CDMX']
['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']

***Modificando la lista original:***

    Utilizando la función reverse() (nótese que es sin «d» al final):

In [ ]:

estados = ['CDMX','HIDALGO', 3, 4,'TABASCO','CHIAPAS']
print (estados)

estados.reverse()

# Vemos que la lista SI cambio
print (estados)

['CDMX', 'HIDALGO', 3, 4, 'TABASCO', 'CHIAPAS']
['CHIAPAS', 'TABASCO', 4, 3, 'HIDALGO', 'CDMX']

***Añadir al final de la lista***
Python nos ofrece la función append() para añadir al final d ela lista. Se trata de un método destructivo que modifica la lista original:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

los_ranchos.append('LA ESCONDIDA')

# Vemos que la lista SI cambio
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIA', 'EL HIGUERON', 'PALMITAS', 'LA ESCONDIDA']

***Creando una lista desde vacío***

Una forma muy habitual de trabajar con listas es empezar con una vacía e ir añadiendo elementos poco a poco. Se podría hablar de un patrón creación.

Supongamos un ejemplo en el que queremos construir una lista con los números pares del 1 al 20:

In [ ]:
even_numbers = []

for i in range(20):
    if i % 2 == 0:
        even_numbers.append(i)

print (even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

***Añadir en cualquier posición de una lista***

Ya hemos visto cómo añadir elementos al final de una lista. Sin embargo, Python ofrece una ***función insert()*** que vendría a ser una generalización de la anterior, para incorporar elementos en cualquier posición. Simplemente debemos especificar el índice de inserción y el elemento en cuestión. También se trata de una función destructiva:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

los_ranchos.insert(1,'LA ESCONDIDA')
print (los_ranchos)

los_ranchos.insert(3,'SAN RAFAEL')
print (los_ranchos)


los_ranchos.insert(10,'LA ESCONDIDA') # No existe el indice  10, no marca error y lo coloca al final de la lista
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'LA ESCONDIDA', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'LA ESCONDIDA', 'SAN PEDRO', 'SAN RAFAEL', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'LA ESCONDIDA', 'SAN PEDRO', 'SAN RAFAEL', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS', 'LA ESCONDIDA']

In [ ]:
# Con este ejmplo tal vez qude más claro el ejemplo anterior
numeros = [1,2,3,4,5,6]

# Observa el comportamiento
numeros.insert(1,33)
print (numeros)

numeros.insert(3,'66')
print (numeros)

numeros.insert(6,'99')
print (numeros)

numeros.insert(13,'110') # No existe el indice  13, no marca error y lo coloca al final de la lista
print (numeros)

[1, 33, 2, 3, 4, 5, 6]
[1, 33, 2, '66', 3, 4, 5, 6]
[1, 33, 2, '66', 3, 4, '99', 5, 6]
[1, 33, 2, '66', 3, 4, '99', 5, 6, '110']

In [ ]:

numeros = [1,2,3,4,5,6]

# Observa el comportamiento
numeros.insert(-1,33)
print (numeros)

numeros.insert(-3,'66')
print (numeros)

numeros.insert(-6,'99')
print (numeros)

# Observe
numeros.insert(-13,'110') # No existe el indice  -13, no marca error y lo coloca al inicio de la lista
print (numeros)

[1, 2, 3, 4, 5, 33, 6]
[1, 2, 3, 4, '66', 5, 33, 6]
[1, 2, '99', 3, 4, '66', 5, 33, 6]
['110', 1, 2, '99', 3, 4, '66', 5, 33, 6]

***NOTA: Aunque es posible utilizar insert() para añadir elementos al final de una lista, siempre se recomienda usar append() por su mayor legibilidad:***

***Repetir elementos***

Al igual que con las cadenas de texto, el operador * nos permite repetir los elementos de una lista:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']
print (los_ranchos)
print (los_ranchos * 2)
print (los_ranchos)
print (los_ranchos * -1)

['BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'SAN PEDRO', 'EL RAYO']
[]

**Combinar listas**

Python nos ofrece dos aproximaciones para combinar listas:

Conservando la lista original:

    Mediante el operador + o +=:

In [ ]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print (numeros + los_ranchos)
print (numeros)
print (los_ranchos)

# Este forma si cammbia la lista de numeros
numeros += los_ranchos
print(numeros)
print (los_ranchos)

[1, 2, 3, 4, 5, 6, 'BUNIGU', 'SAN PEDRO', 'EL RAYO']
[1, 2, 3, 4, 5, 6]
['BUNIGU', 'SAN PEDRO', 'EL RAYO']
[1, 2, 3, 4, 5, 6, 'BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'SAN PEDRO', 'EL RAYO']

Modificando la lista original:

    Mediante la función extend():

In [ ]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print(numeros)
numeros.extend(los_ranchos) 

# Observemos como cambio la lista de numeros
print(numeros)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'BUNIGU', 'SAN PEDRO', 'EL RAYO']

***NOTA:***
Hay que tener en cuenta que extend() funciona adecuadamente si pasamos una lista como argumento. En otro caso, quizás los resultados no sean los esperados. Veamos un ejemplo:

In [ ]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print(numeros)
# Solo hacemos el extend con un solo elemento y vemos el resultado
numeros.extend('BUNIGU') 

# Observemos como cambio la lista de numeros
print(numeros)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'B', 'U', 'N', 'I', 'G', 'U']

El motivo es que extend() «recorre» (o itera) sobre cada uno de los elementos del objeto en cuestión. En el caso anterior, al ser una cadena de texto, está formada por caracteres. De ahí el resultado que obtenemos.


Se podría pensar en el uso de append() para combinar listas. La realidad es que no funciona exactamente como esperamos; la segunda lista se añadiría como una sublista de la principal:

In [ ]:
numeros = [1,2,3,4,5,6]
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print(numeros)

numeros.append(los_ranchos) 

# Observemos como cambio la lista de numeros
print(numeros)
# Inserta la segunda lista al final como un elemento de la lista numeros, no las une

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, ['BUNIGU', 'SAN PEDRO', 'EL RAYO']]

***Modificar una lista utilizando el ínice.***

Del mismo modo que se accede a un elemento utilizando su índice, también podemos modificarlo:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO']

print (los_ranchos)

# Modificamos un elemento

los_ranchos [1] = 'TLACUILOLA' # Si colocamos un numero de índice que no exista en la lista, marcara error, por ejemplo el 3

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO']
['BUNIGU', 'TLACUILOLA', 'EL RAYO']

***Modificar con troceado. (Sublista de la lista)***

No sólo es posible modificar un elemento de cada vez, sino que podemos asignar valores a trozos (sublista) de una lista:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

print (los_ranchos[1:4])
los_ranchos[1:4] = ['EL CEDRAL','EL COMEJE','EL NARANJAL']

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['SAN PEDRO', 'EL RAYO', 'LA FLORIDA']
['BUNIGU', 'EL CEDRAL', 'EL COMEJE', 'EL NARANJAL', 'EL HIGUERON', 'PALMITAS']

***Nota***

La lista que asignamos no necesariamente debe tener la misma longitud que el trozo que sustituimos.

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)

print (los_ranchos[1:4]) # Aqui hay 3 elementos

los_ranchos[1:4] = ['EL CEDRAL','EL COMEJE'] # Sólo sustituyo 2 y no marca ; pero el tercero lo quita, mucho ojo

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['SAN PEDRO', 'EL RAYO', 'LA FLORIDA']
['BUNIGU', 'EL CEDRAL', 'EL COMEJE', 'EL HIGUERON', 'PALMITAS']

***Borrar elementos***

Python nos ofrece, al menos, cuatro formas para borrar elementos en una lista:

Por su índice:

    Mediante la función del():

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)
del(los_ranchos[3]) # Borro LA FLORIDA, si se pone un numero de índice que no exista marcara error
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL HIGUERON', 'PALMITAS']

***Por su valor:***

    Mediante la función remove():

NOTA:

Si existen valores duplicados, la función remove() sólo borrará la primera ocurrencia.

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','PALMITAS']
print (los_ranchos)
los_ranchos.remove('LA FLORIDA')   # Borro LA FLORIDA, si se pone un elemento que no exista en la lista marcara error
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'PALMITAS']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL HIGUERON', 'PALMITAS']

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO', 'LA FLORIDA','EL HIGUERON','EL RAYO', 'PALMITAS']
print (los_ranchos)
los_ranchos.remove('EL RAYO')   # Borro EL RAYO, pero hay dos, sólo borra la primera entrada
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'LA FLORIDA', 'EL HIGUERON', 'EL RAYO', 'PALMITAS']
['BUNIGU', 'SAN PEDRO', 'LA FLORIDA', 'EL HIGUERON', 'EL RAYO', 'PALMITAS']

***Borrar elementos***

Python nos ofrece, al menos, cuatro formas para borrar elementos en una lista:

Por su índice:

    Mediante la función del():

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL']

print (los_ranchos)
# Borramos un elemento, EL RAYO
del(los_ranchos[2]) # Si ponemos un numero de indice que no exista marcara error

print (los_ranchos)

SyntaxError: ignored

***Por su valor:***

    Mediante la función remove():

NOTA:

Si existen valores duplicados, la función remove() sólo borrará la primera ocurrencia.

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL']

print (los_ranchos)
# Borramos un elemento, EL RAYO
# Observe como al imprimir la operacion de borrado no imprime el valor del elemento borrado
print (los_ranchos.remove('EL RAYO') ) # Si ponemos un elemento que no exista marcara error

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL']
None
['BUNIGU', 'SAN PEDRO', 'EL ZACATAL']

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL','EL RAYO']

print (los_ranchos)
# Borramos un elemento, EL RAYO, pero existen DOS
los_ranchos.remove('EL RAYO') # Sólo borra la primera entrada

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL', 'EL RAYO']
['BUNIGU', 'SAN PEDRO', 'EL ZACATAL', 'EL RAYO']

***Por su índice (con extracción):***

    Las dos funciones anteriores del() y remove() efectivamente borran 
    el elemento indicado de la lista, pero no «devuelven» 3 nada. 
    Sin embargo, Python nos ofrece la función pop() que además de    
    borrar, nos «recupera» el elemento; algo así como una extracción. 
    Lo podemos ver como una combinación de acceso + borrado:


**Nota**

Si usamos la función pop() sin pasarle ningún argumento, por defecto usará el índice -1, es decir, el último elemento de la lista. Pero también podemos indicarle el índice del elemento a extraer.

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL']

print (los_ranchos)
# Borramos un elemento, EL RAYO
# Observe como al imprimir la operacion de borrado SI imprime el valor del elemento borrado
print (los_ranchos.pop(2)) # Si ponemos un elemento que no exista marcara error

print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL']
EL RAYO
['BUNIGU', 'SAN PEDRO', 'EL ZACATAL']

Por su rango:

    Mediante troceado (Sublista) de listas:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL','EL CEDRAL', 'LA LAGUNA']

print (los_ranchos)
print (los_ranchos[1:4])
los_ranchos[1:4] = []
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL', 'EL CEDRAL', 'LA LAGUNA']
['SAN PEDRO', 'EL RAYO', 'EL ZACATAL']
['BUNIGU', 'EL CEDRAL', 'LA LAGUNA']

***Borrado completo de la lista***

Python nos ofrece, al menos, dos formas para borrar una lista por completo:

    Utilizando la función clear():

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL','EL CEDRAL', 'LA LAGUNA']

print (los_ranchos)
print (id(los_ranchos))

los_ranchos.clear() # Borrado in-situ, por eso al imprimir el ID de memoria es el mismo

print (los_ranchos)
print (id(los_ranchos))

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL', 'EL CEDRAL', 'LA LAGUNA']
140057317715472
[]
140057317715472

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL','EL CEDRAL', 'LA LAGUNA']

print (los_ranchos)
print (id(los_ranchos))

los_ranchos = [] # Nuevo espacio d ememoria, por eso al imprimir el ID de memoria NO es el mismo

print (los_ranchos)
print (id(los_ranchos))

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL', 'EL CEDRAL', 'LA LAGUNA']
140057317623040
[]
140057317413824

***Encontrar un elemento***

Si queremos descubrir el índice que corresponde a un determinado valor dentro la lista podemos usar la función index() para ello:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL','EL CEDRAL', 'EL RAYO']

print (los_ranchos)
# Busco el elemento EL RAYO, hay dos sólo me indicala posicion del primero
los_ranchos.index('EL RAYO') # SI no existe el ellemento en la lista marcara error,

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL', 'EL CEDRAL', 'EL RAYO']

2

***Pertenencia de un elemento***

Si queremos comprobar la existencia de un determinado elemento en una lista, podríamos buscar su índice, pero la forma pitónica de hacerlo es utilizar el operador in:

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL','EL CEDRAL', 'EL RAYO']
print (los_ranchos)

'BUNIGU' in los_ranchos

#'LA LAGUNA' in los_ranchos

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL', 'EL CEDRAL', 'EL RAYO']

True

***Número de ocurrencias***

Para contar cuántas veces aparece un determinado valor dentro de una lista podemos usar la función count():

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL','EL CEDRAL', 'EL RAYO']

print (los_ranchos)
los_ranchos.count('EL RAYO')

#DEscomente para ver los resultados
#los_ranchos.count('EL ZACATAL') 
#los_ranchos.count('TLACUILOLA')

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL', 'EL CEDRAL', 'EL RAYO']

2

***Convertir lista a cadena de texto***

Dada una lista, podemos convetirla a una cadena de texto, uniendo todos sus elementos mediante algún separador. Para ello hacemos uso de la función join() con la siguiente estructura:
***Hay que tener en cuenta que join() sólo funciona si todos sus elementos son cadenas de texto:*** Esta función join() es realmente la opuesta a la de split() para dividir una cadena.

In [ ]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL']
print (los_ranchos)

# Aplicamos el join seprados por coma
','.join(los_ranchos)

In [9]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','EL ZACATAL']
print (los_ranchos)

# Aplicamos el join seprados por espacio
' '.join(los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'EL ZACATAL']

'BUNIGU SAN PEDRO EL RAYO EL ZACATAL'

In [ ]:
los_ranchos = ['BUNIGU',1, 'EL RAYO',3]
print (los_ranchos)

# Aplicamos el join seprados por espacio, MARCARA ERROR POR QUE NO TODOS LOS LEMENTOS SON TEXTO
' '.join(los_ranchos)

***Ordenar una lista¶***

Python proporciona, al menos, dos formas de ordenar los elementos de una lista:

Conservando lista original:

    Mediante la función sorted() que devuelve una nueva lista ordenada:

In [18]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']
print (los_ranchos)

# Los ordenamos sin modificar la lista original
print (sorted(los_ranchos))
# Ordenamos en reversa
print (sorted(los_ranchos, reverse=True))

#Imprimimos la lista original y vemos que no hay cambios
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']
['BUNIGU', 'CEDRAL', 'EL RAYO', 'SAN PEDRO']
['SAN PEDRO', 'EL RAYO', 'CEDRAL', 'BUNIGU']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']

***Modificando la lista original:***

    Mediante la función sort():

In [17]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']
print (los_ranchos)

# Los ordenamos  modificando la lista original
los_ranchos.sort()
print (los_ranchos)

# Ordenando en reversa
los_ranchos.sort(reverse=True)
print (los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']
['BUNIGU', 'CEDRAL', 'EL RAYO', 'SAN PEDRO']
['SAN PEDRO', 'EL RAYO', 'CEDRAL', 'BUNIGU']

***Longitud de una lista***

Podemos conocer el número de elementos que tiene una lista con la función len():

In [23]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']
print (len(los_ranchos))
numeros = [3,5,7,8,9,2,1,11]
len(numeros)

4

8

***Iterar sobre una lista***

Al igual que hemos visto con las cadenas de texto, también podemos iterar sobre los elementos de una lista utilizando la sentencia for:

***Nota***

También es posible usar la sentencia break en este tipo de bucles para abortar su ejecución en algún momento que nos interese.

In [31]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']
for elemento in los_ranchos:
    print(elemento)

print ('Iterando usando el índice')
print ('Imprimimos índice y elemento')
# La funcion enumerate nos da los índices de la lista
for i, elemento in enumerate(los_ranchos):
    print(i, elemento)

BUNIGU
SAN PEDRO
EL RAYO
CEDRAL
Iterando usando el índice
Imprimimos índice y elemento
0 BUNIGU
1 SAN PEDRO
2 EL RAYO
3 CEDRAL

***Iterar sobre múltiples listas***

Python ofrece la posibilidad de iterar sobre múltiples listas en paralelo utilizando la función zip():

***Nota***

En el caso de que las listas no tengan la misma longitud, la función zip() realiza la combinación hasta que se agota la lista más corta.

In [32]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']
arboles = ['HAY ENCINOS','HAY SABINOS', 'HAY CHIJOL'] # Es más corta por eso no imprime CEDRAL

for rancho, arbol in zip(los_ranchos, arboles):
    print(rancho, arbol)

BUNIGU HAY ENCINOS
SAN PEDRO HAY SABINOS
EL RAYO HAY CHIJOL

Dado que zip() produce un iterador, si queremos obtener una lista explícita con la combinación en paralelo de las listas, debemos construir dicha lista de la siguiente manera:

In [34]:
arboles = ['HAY ENCINOS','HAY SABINOS', 'HAY CHIJOL'] # Es más corta por eso no imprime CEDRAL
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']

list(zip(los_ranchos, arboles))

print (list(zip(los_ranchos, arboles)))

[('BUNIGU', 'HAY ENCINOS'), ('SAN PEDRO', 'HAY SABINOS'), ('EL RAYO', 'HAY CHIJOL')]

***Cuidado con las copias***

**Las listas son estructuras de datos mutables** y esta característica nos obliga a tener cuidado cuando realizamos copias de listas, ya que la modificación de una de ellas puede afectar a la otra.

Veamos un ejemplo sencillo:

In [37]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']
copia_los_ranchos = los_ranchos

print (los_ranchos)
print (copia_los_ranchos)

# Vemos como la original y la copia apuntan a la misma dirección de meoria
print (id(los_ranchos))
print (id(copia_los_ranchos))

# Modificamos la copia en algun elemento

copia_los_ranchos[1] = 'LA ESCONDIDA'

# Solo cambiamos la copia y observamos que la original también cambio
print (los_ranchos)
print (copia_los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']
140283999310144
140283999310144
['BUNIGU', 'LA ESCONDIDA', 'EL RAYO', 'CEDRAL']
['BUNIGU', 'LA ESCONDIDA', 'EL RAYO', 'CEDRAL']

Una posible solución a este problema anterior es hacer una «copia dura». Para ello Python proporciona la función copy():

In [39]:
los_ranchos = ['BUNIGU','SAN PEDRO', 'EL RAYO','CEDRAL']
copia_los_ranchos = los_ranchos.copy()

print (los_ranchos)
print (copia_los_ranchos)

# Vemos como la original y la copia apuntan a DIFERENTE dirección de meoria
print (id(los_ranchos))
print (id(copia_los_ranchos))

# Modificamos la copia en algun elemento

copia_los_ranchos[1] = 'LA ESCONDIDA'

# Solo cambiamos la copia y observamos que la original SE MANTIENE INTACTA
print (los_ranchos)
print (copia_los_ranchos)

['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']
140284029543920
140284030094864
['BUNIGU', 'SAN PEDRO', 'EL RAYO', 'CEDRAL']
['BUNIGU', 'LA ESCONDIDA', 'EL RAYO', 'CEDRAL']

***Truco***

En el caso de que estemos trabajando con listas que contienen elementos mutables, debemos hacer uso de la función deepcopy() dentro del módulo copy de la librería estándar. Ejemplo:

In [41]:
# hacemos uan lista de listas, para que sea un elemento MUTABLE
los_ranchos = [['BUNIGU','SAN PEDRO'], ['EL RAYO','LA ESCONDIDA'], ['GUAYABOS','SAN RAFAEL']]
copia_los_ranchos = los_ranchos.copy()

print (los_ranchos)
print (copia_los_ranchos)

# Vemos como la original y la copia apuntan a DIFERENTE dirección de meoria
print (id(los_ranchos))
print (id(copia_los_ranchos))

# Modificamos la copia en algun elemento
copia_los_ranchos[1][1] = 'COMEJE'

# Solo cambiamos la copia y observamos que la original TAMBIEN CAMBIA A PESAR QUE SE HIZO con un copy
print (los_ranchos)
print (copia_los_ranchos)

[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'LA ESCONDIDA'], ['GUAYABOS', 'SAN RAFAEL']]
[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'LA ESCONDIDA'], ['GUAYABOS', 'SAN RAFAEL']]
140283999339216
140283998806656
[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'COMEJE'], ['GUAYABOS', 'SAN RAFAEL']]
[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'COMEJE'], ['GUAYABOS', 'SAN RAFAEL']]

***Para evitar el problema anterior utilizamos la función deepcopy()***

In [43]:
import copy

# Hacemos uan lista de listas, para que sea un elemento MUTABLE
los_ranchos = [['BUNIGU','SAN PEDRO'], ['EL RAYO','LA ESCONDIDA'], ['GUAYABOS','SAN RAFAEL']]
copia_los_ranchos = copy.deepcopy(los_ranchos)

print (los_ranchos)
print (copia_los_ranchos)

# Vemos como la original y la copia apuntan a DIFERENTE dirección de meoria
print (id(los_ranchos))
print (id(copia_los_ranchos))

# Modificamos la copia en algun elemento
copia_los_ranchos[1][1] = 'COMEJE'

# Solo cambiamos la copia y observamos que la original NO CAMBIA SE MANTIENE INTACTA
print (los_ranchos)
print (copia_los_ranchos)

[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'LA ESCONDIDA'], ['GUAYABOS', 'SAN RAFAEL']]
[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'LA ESCONDIDA'], ['GUAYABOS', 'SAN RAFAEL']]
140283999310544
140283999223968
[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'LA ESCONDIDA'], ['GUAYABOS', 'SAN RAFAEL']]
[['BUNIGU', 'SAN PEDRO'], ['EL RAYO', 'COMEJE'], ['GUAYABOS', 'SAN RAFAEL']]

***Veracidad múltiple***

Si bien podemos usar sentencias condicionales para comprobar la veracidad de determinadas expresiones, Python nos ofrece dos funciones «built-in» con las que podemos evaluar si se cumplen todas las condiciones all() o si se cumple alguna condición any(). Estas funciones trabajan sobre iterables, y el caso más evidente es una lista.

Supongamos un ejemplo en el que queremos comprobar si una determinada palabra cumple las siguientes condiciones:

    Su longitud total es mayor que 4.

    Empieza por «P».

    Contiene, al menos, una «f».

Veamos la versión clásica:

In [3]:
Pueblo = 'Pisaflores' # Es un string, es un elemento iterable

if len(Pueblo) > 4 and Pueblo.startswith('P') and Pueblo.count('f') >= 1:
    print('Mi tierra Bonita!')
else:
    print('No Es Mi Tierra')

Mi tierra Bonita!

Veamos la versión con veracidad múltiple usando all(), donde se comprueba que se cumplan todas las expresiones:

In [4]:
Pueblo = 'Pisaflores' # Es un string, es un elemento iterable

enough_length = len(Pueblo) > 4            # True
right_beginning = Pueblo.startswith('P')   # True
min_fs = Pueblo.count('f') >= 1            # True

es_mi_tierra = all([enough_length, right_beginning, min_fs])

if es_mi_tierra:
    print('Mi tierra Bonita!')
else:
    print('No Es Mi Tierra')

Mi tierra Bonita!

Veamos la versión con veracidad múltiple usando any(), donde se comprueba que se cumpla alguna expresión:

In [5]:
Pueblo = 'Pisaflores' # Es un string, es un elemento iterable

enough_length = len(Pueblo) > 11           # False
right_beginning = Pueblo.startswith('p')   # False
min_fs = Pueblo.count('f') >= 1            # True

es_mi_tierra = any([enough_length, right_beginning, min_fs])

if es_mi_tierra:
    print('Mi tierra Bonita!')
else:
    print('No Es Mi Tierra')

Mi tierra Bonita!

***Nota:***

Este enfoque puede ser interesante cuando se manejan muchas condiciones o bien cuando queremos separar las condiciones y agruparlas en una única lista.

***Listas por comprensión***

La listas de comprensión, ***del inglés list comprehensions***, es una funcionalidad que le permite crear listas avanzadas de forma más compacta en una misma línea de código; basándose en el concepto matemático de conjuntos definidos por comprensión.

La forma general de la definición de una lista por comprensión es:

[expresion for item in iterable]

Opcionalmente, se puede incluir un condicional en la expresión:

[expresion for item in iterable if condicion]

expresion puede ser cualquier expresión computable en Python, generalmente involucrando un item del iterable llamado iterable puede ser cualquier objeto iterable, como una secuencia (lista o cadena de caracteres), la función la función range(), etc.
Ejemplos:

In [14]:
# Ejemplo Básico
numbers = [3, 6, 9]
results = []

for n in numbers:
    results.append(n + 1)   # Al valor de n en la lista le sumo 1
results

[4, 7, 10]

In [15]:
# De forma más elegante
numbers = [3, 6, 9]
results = [n + 1 for n in numbers] # n es el valor del elemento en la lista y a este le sumo 1
print (results)

[4, 7, 10]

In [16]:
# Otro Ejemplo
numbers = [3, 6, 9]
results = [n + 2 for n in numbers] # n es el valor del elemento en la lista y a este le sumo 2
print (results)

[5, 8, 11]

***Condiciones en las listas por comprensión***

Tal como se ha indicado anteriormente es posible añadir condiciones a las listas por comprensión en Python. Para lo que solemne se tiene que agregar un if al final con la condición. Siguiendo con el ejemplo anterior, se podría sumar uno solamente a los registros que sean menores que tres.

In [17]:
numbers = [3, 6, 9, 12]
results = [n + 1 for n in numbers if n < 9] # Sólo suma 1 a los valores de la lista menores a 9
results

[4, 7]

In [18]:
# Colocando un else al ejemplo anterior
numbers = [3, 6, 9, 12]
# Sólo suma 1 a los valores de la lista menores a 9,  
# pero toma el vañor n de la lista y lo pone en la lista nueva
results = [n + 1 if n < 9 else n for n in numbers] 
results

[4, 7, 9, 12]

***Identificar los numero comunes en dos listas***

In [22]:
ranchos_1 = ['EL CEDRAL' ,'EL ZACATAL' ,'EL COMEJE', 'LA LAGUNA', 'EL RAYO']
ranchos_2 = ['EL RAYO', 'TALCUILOLA' ,'EL BUNIGU', 'SAN PEDRO', 'LA LAGUNA']
ranchos_comunes = [a for a in ranchos_1 for b in ranchos_2 if a == b] # La comparacion hace diferencia en Mayusculas y minusculas, pruebe
ranchos_comunes

['LA LAGUNA', 'EL RAYO']